* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right bottom, left top, from(lightblue), color-stop(rgb(135, 135, 213)), to(rgb(80, 80, 144)));
  background: linear-gradient(to top left, lightblue, rgb(135, 135, 213), rgb(80, 80, 144));
  color: white;
  font-size: 16px;
}

.calculator {
  width: 60vw;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calculator .calculatorContainer {
  width: 40vw;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.calculator .calculatorContainer .screen {
  text-align: right;
  width: 100%;
  height: 65px;
  word-break: break-all;
  padding-right: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator .calculatorContainer .screen .currentNumber {
  font-size: 22px;
  font-weight: bold;
  height: 22px;
}
.calculator .calculatorContainer .screen .previuosNumber {
  display: inline-block;
  min-height: 22px;
  font-size: 18px;
  background-color: #fff;
}
.calculator .calculatorContainer .buttonContainer {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
}
.calculator .calculatorContainer .buttonContainer .equals {
  grid-row: -1/-3;
  grid-column: -2/-1;
}
.calculator button {
  background: rgba(25, 25, 25, 0.33);
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.calculator button:hover {
  background: rgba(25, 25, 25, 0.2);
  font-weight: bold;
}
.calculator .calcHistory {
  width: 10vw;
  min-width: 100px;
  font-size: 14;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 10px;
}
.calculator .calcHistory button {
  padding: 3px 3px;
  margin: 5px;
  display: none;
}
.calculator .calcHistory button.active {
  display: inline-block;
}
.calculator .calcHistory li {
  list-style: none;
  letter-spacing: 1px;
  margin: 3px 0;
  padding: 3px 0;
  border-bottom: 1px solid rgba(25, 25, 25, 0.33);
}/*# sourceMappingURL=style.css.map */